<li>{{ product?.name }}</li>
<li>{{ product?.price }}</li>
<li *ngIf="this.router.url === '/product/' + product?.id">{{ product?.description }}</li>
<li [routerLink]="['/product', product?.id]" routerLinkActive="router-link-active" ><img width="150" height="150" src="{{ product?.url }}"/></li>
<select [(ngModel)]="quantity">
<option>1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
</select>
<br/>
<button (click)="addProductToCart(product)">Add to shopping cart</button>
<button (click)="goBack()" *ngIf="this.router.url === '/product/' + product?.id">return to product list</button>