<ul class="rows">
	<li [routerLink]="['/product', product?.id]" routerLinkActive="router-link-active" ><img width="170" height="170" src="{{ product?.url }}"/></li>
<li>{{ product?.name }}</li>
<li>{{ product?.price }}</li>
<li *ngIf="this.router.url === '/product/' + product?.id">{{ product?.description }}</li>
<select [(ngModel)]="quantity">
<option selected="selected">1</option>
<option>2</option>
<option>3</option>
<option>4</option>
<option>5</option>
<option>6</option>
<option>7</option>
<option>8</option>
<option>9</option>
<option>10</option>
</select>
<br/><br/>
<button (click)="addProductToCart(product)">Add to shopping cart</button>
<br/><br/>
<button (click)="goBack()" *ngIf="this.router.url === '/product/' + product?.id">return to product list</button>
</ul>
